.App {
  text-align: center;
}

.main-header {
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

input {
  margin-right: .5em;
  margin-bottom: 2em;
}